#This is the randomiser logic file, don't touch unless you know what you're doing
#A capital E indicates item is required to escape the check area
#A * means no requirements
#Major Items
.def varia 02
.def gravity 03
.def phazon 04
.def long 05
.def charge 06
.def spazer 07
.def fire 08
.def wave 09
.def plasma 0a
.def ice 0b
.def wall 0c
.def speed 0d
.def high 0e
.def space 0f
.def morph 10
.def morphbombs morph&11
.def spring morph&12
.def spider morph&13
.def grip 14
.def screw 15
.def blast 18&super
.def adaptor 1a&powbomb&fire
#Minor Items
.def etank 1e
.def missile 1f
.def super 20
.def shield 21
.def powbomb morph&22
.def anybomb morphbombs|powbomb
.def gear 24
#Groups of items
.def anymissile super|missile
.def astescape space|spider|anymissile&speed|anymissile&high&grip|anymissile&wall|anymissile&morphbombs
.def climb space|spider|morphbombs
.def crumble space|spider
.def flight space|morphbombs

#Planets
.def asteroid *

#Goal
.def endgame space&screw&morphbombs&powbomb&blast&fire&speed&phazon|space&screw&morphbombs&powbomb&blast&fire&speed&N6 1e

#Locations

#Asteroid
#Outer Asteroid
.def outerast astescape
13f outerast&anybomb
7b3 outerast
8cb outerast&screw&fire

#Upper Asteroid
.def upperast space|spider|speed|morphbombs|anymissile

257 upperast&anymissile&climb
25e upperast&anymissile
480 upperast&climb|upperast&speed
6b7 upperast&morph

#Startzone, no requirements
38b Emorph|Ewall|Ehigh|Egrip|Espace
c44 *
c3d anybomb
f7e anymissile&Ewall|anymissile&Ehigh|anymissile&Eclimb
9ff anymissile

#Lower Asteroid
.def lowerast morph&long&Eanymissile|morph&anymissile|anybomb&Eanymissile|anymissile

a0d lowerast&morph&crumble
6cc lowerast&climb|lowerast&high&grip|lowerast&speed
5bb lowerast

#Dark Asteroid
.def darkast N6 1e&powbomb|phazon&powbomb
10c0 darkast&blast&morph|darkast&screw&flight&speed&ice&Eblast


#Aquadia
.def aqua astescape

#Charge hole
.def chargehole aqua&climb&morph|aqua&wall&morph
13c2 chargehole
15f2 chargehole

#Nokey, no reqs
11a7 aqua&anybomb
12b8 aqua
12bf aqua
1c82 aqua&speed&chargehole

#Middle Aquadia
.def midaquaescape Ewall&Emorph|Espider|Emorphbombs|Egravity&Espace
.def midaqua keyaqua|midaquaescape&aqua&super
160e midaqua
1615 midaqua&anybomb&Ewall|midaqua&anybomb&Espider|midaqua&anybomb&Egrip|midaqua&anybomb&Egravity&Espace
1830 midaqua
1948 midaqua&anymissile
1837 midaqua&climb
183e midaqua&morph
1a60 midaqua&wall&morph|midaqua&climb
1b7f midaqua&anymissile&anybomb

#Big Aqua
.def bigaqua keyaqua&Ewall|keyaqua&Espace&Egravity|keyaqua&Eclimb
1b86 bigaqua
1ece bigaqua&adaptor&morphbombs|bigaqua&wave&fire&morphbombs
1fd8 bigaqua&flight
20f0 bigaqua&anymissile&fire
1c97 bigaqua&climb&anybomb

#Dark Aquadia
.def darkaquahell aqua&N6 1e|aqua&phazon
.def darkaqua darkaquahell&chargehole&speed&powbomb|darkaquahell&Nb 23
1d9a darkaqua&chargehole&speed&powbomb|darkaqua&flight&anybomb
21fa darkaqua&flight
268b darkaqua&powbomb&flight&Nb 23
220f darkaqua&Eclimb|Nb 23&gravity&speed&Eclimb
1dbd darkaqua&flight&Nb 23
1dc4 darkaqua&flight&Nb 23&powbomb&speed
1ef1 darkaqua&Nb 23&powbomb
210c darkaqua&Nb 23&speed
2113 darkaqua&Nb 23&fire
150b darkaqua&Nb 23&powbomb&Eclimb
1750 darkaqua&fire&speed&Eice

#Light Aquadia Key
.def keyaqua aqua&Nb 23
1199 keyaqua&anymissile
12b1 keyaqua
12c6 keyaqua&wall&morph&anymissile|keyaqua&gravity&space&anymissile|keyaqua&spider&anymissile|keyaqua&morphbombs&anymissile

#Steelaris
.def steel astescape
#Basic Steel
2772 steel&wall&morph|steel&climb
2780 steel&climb&super
2787 steel&super
278e steel&powbomb&Eclimb&Esuper
29b7 steel
29be steel&super&climb|steel&super&high|steel&super&grip
2cf8 steel&adaptor&climb
2cff steel&climb
2e17 steel&anybomb
2f2f uprightsteel&morphbombs|steel&super&N2 22
304e steel&speed&super&shield&anybomb

#Upper Right Steel
.def uprightsteel steel&anybomb|steel&anymissile
3032 uprightsteel&Eanybomb
314a uprightsteel&N3 22|uprightsteel&morphbombs&powbomb
3158 uprightsteel&climb|uprightsteel&grip|uprightsteel&wall|uprightsteel&high
3262 uprightsteel&climb&anybomb|uprightsteel&wall&anybomb
3381 uprightsteel&climb|uprightsteel&grip|uprightsteel&wall|uprightsteel&high
35aa uprightsteel&climb&anybomb
35b1 uprightsteel&powbomb

#Lower Right Steel
.def lowrightsteel steel&anybomb
315f lowrightsteel&climb|lowrightsteel&wall
3166 lowrightsteel&morph&super

#Dark Steel
.def darksteel lowrightsteel&N1 1e|lowrightsteel&phazon
35bf darksteel&climb|darksteel&morph&wall
36d0 darksteel&space&screw
37e8 darksteel&space&screw&super

#Incendian
.def incen astescape&N5 24&N6 1e&anymissile|astescape&N5 24&varia&anymissile

#Main Incendian
450f incen&super
462e incen&powbomb
4865 incen&Efire|incen&Espeed
4620 incen&speed&fire&anybomb
41c7 incen&climb&powbomb
3f97 incen&climb
3fb3 incen&gravity&Eclimb&super
3e94 incen&gravity&anymissile&speed
3d6e incen&climb
3b22 incen&anybomb&climb
3c3a incen&climb
380b incen&fire&Eclimb|incen&fire&Ehigh|incen&fire&Ewall&Emorph

#Post Fire Incendian
.def postfire incen&fire
4731 postfire&climb&shield&N2 22|postfire&climb&flight&N2 22|postfire&climb&shield&powbomb&morphbombs|postfire&climb&flight&powbomb&morphbombs
463c postfire&climb&morph
475b postfire&gravity|postfire&N5 21
4a9c postfire&gravity&N2 22&climb
4aa3 postfire&gravity

#Dark Incendian
.def darkincen incen&speed&fire&gravity&phazon&N6 21&climb
33b9 darkincen
35e2 darkincen
3701 darkincen
3c79 darkincen
3915 darkincen&super&powbomb

#Gravitax
.def gravitax astescape&N5 24&gravity
3970 gravitax&climb&anybomb&anymissile|gravitax&speed&anybomb&anymissile
3985 gravitax&powbomb
3a9d gravitax
3bb5 gravitax&speed
3cd4 gravitax&powbomb|gravitax&wave
3cdb gravitax&powbomb|gravitax&wave
3dde gravitax
3df3 gravitax&powbomb
4007 gravitax&powbomb&climb

#Dark Gravitax
.def darkgravhell gravitax&Nb 1e|gravitax&phazon
.def darkgravleft darkgravhell&climb
.def darkgravright darkgravhell&powbomb&speed
3525 darkgravleft&flight
3bca darkgravright&screw
4134 darkgravleft&darkgravright&N8 20
4483 darkgravleft&darkgravright&N8 20

#Kholdstar
.def khold astescape&N5 24&N8 1e&super&speed&fire&shield|astescape&N5 24&varia&super&speed&fire&shield
#Main Khold
2924 khold
23b3 khold
1f4c khold
2079 khold
25ea khold&powbomb
24d9 khold
2940 khold&climb
2a4a khold&climb
2a5f khold&Eclimb
260d khold&super&Eclimb
1f6f khold&super

#Underwater Khold
.def underkhold khold&gravity
24ee underkhold
2836 underkhold
22be underkhold

#Dark Khold
.def darkkholdhell khold&N8 1e|khold&phazon
.def darkkhold darkkholdhell&adaptor&climb|darkkholdhell&wave&fire&climb
1e11 darkkhold&adaptor
1e18 darkkhold&Eadaptor
224e darkkhold&flight&super

#Greenymede
.def green astescape&N5 24
.def metlock5 green&climb&anymissile
.def metlock10 green&climb&anymissile
.def metlock15 upperdarkgreen&anymissile
.def metlock25 lowerdarkgreen&space&anymissile
#Main Greenymede
db0 green&climb&powbomb
ef9 metlock5&speed
ff5 green
1011 metlock5&Eclimb|metlock5&Espeed
122c green&speed|green&powbomb
1344 green&climb
1582 green&powbomb&climb

#Bottom Right Light
.def botrightgreen green&Eclimb
1130 botrightgreen&speed&shield
17c0 botrightgreen&speed
18ca botrightgreen&crumble&super
18c3 botrightgreen&anybomb
19db botrightgreen&climb
1d38 botrightgreen&super

#Left Greenymede
.def leftgreen green&speed
73c leftgreen&metlock10&fire
624 leftgreen&metlock10&climb
cb4 leftgreen&crumble&anybomb
cbb leftgreen&anybomb&Esuper|green&super&anybomb

#Upper Dark Green
.def upperdarkgreen green&phazon&flight
1416 metlock25
153c upperdarkgreen&screw&space
164d upperdarkgreen&speed&space
1765 upperdarkgreen
177a upperdarkgreen&speed
18b5 metlock15
1d07 upperdarkgreen

#Lower Dark Green
.def lowerdarkgreen upperdarkgreen&screw
1597 lowerdarkgreen&space
179d lowerdarkgreen&metlock15
19fe lowerdarkgreen&speed
1c12 lowerdarkgreen&anybomb
1c3c lowerdarkgreen
1d1c lowerdarkgreen










